@model CarDealershipManagement.WebUI.ViewModels.CarsForCatalogViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
	<div class="col-md-8 products">
		<div class="row">
			@foreach (var car in Model.Cars)
			{
				<div class="col-sm-4">
					<div class="product">
						<div class="product-img">
							<a href="#">@Html.Raw("<img src=\"data:image/jpeg;base64," 
								+ Convert.ToBase64String(@car.Picture) + "\" />")</a>
						</div>
						<p class="product-title">@car.BrandName</p>
						<p class="product-desc">@car.ManufacturerName</p>
						<p class="product-price">Цена @car.Price BYN</p>
					</div>
				</div>
			}
		</div>
	</div>
</div>
