@model CarDealershipManagement.WebUI.ViewModels.PurchaseViewModel
<h1>Оформление заказа</h1>
<h6>Модель: @Model.Car.BrandName</h6>
<h6>Производитель: @Model.Car.ManufacturerName</h6>
<h6>Цвет: @Model.Car.Color</h6>
<h6>Регистрационный номер: @Model.Car.RegistrationNumber</h6>
<h6>Номер кузова: @Model.Car.BodyTypeNumber</h6>
<h6>Номер двигателя: @Model.Car.EngineNumber</h6>
<h6>Цена: @Model.Car.Price</h6>