@model CarDealershipManagement.WebUI.ViewModels.Orders.OrdersViewModel
<div class="p-3">
    <div class="d-flex flex-row-reverse">
        <div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" value="@ViewData["CurrentFilter"]" type="text" name="SearchString" placeholder="Search">
                <button asp-controller="Orders" asp-action="AdminIndex" value="Search" class="btn bg-primary text-white" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="p-3">
        <div>
            <a asp-controller="Orders" asp-action="Create" class="btn btn-link">Добавить заказ</a>
        </div>
        <table class="table">
            <thead class="thead-dark text-white">
                <tr>
                    <th>
                        <a class="text-white" asp-action="AdminIndex" asp-route-sortOrder="@ViewData["OrderDateParam"]">Дата заказа</a>
                    </th>    
                    <th>
                        <a class="text-white" asp-action="AdminIndex" asp-route-sortOrder="@ViewData["CarRegNumberParam"]">Номер машины</a>
                    </th> 
                    <th>
                        <a class="text-white" asp-action="AdminIndex" asp-route-sortOrder="@ViewData["CustomerSurnameParam"]">Фамилия заказчика</a>
                    </th>
                    <th>
                        Подтверждение заказа
                    </th>
                    <th>
                        Фамилия сотрудника
                    </th>
                    <th>
                        Дата оплаты
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>
                            @order.OrderDate.Date
                        </td>
                        <td>
                            @order.CarRegistrationNumber
                        </td>
                        <td>
                            @order.CustomerSurname
                        </td>
                        <td>
                            @{
                                string output;
                            }
                            @if (@order.IsApproved)
                            {
                                output = "Подтверждён";
                            }
                            else
                            {
                                output = "Не подтверждён";
                            }
                            @output
                        </td>
                        <td>
                             @order.EmployeeSurname 
                        </td>
                        <td>
                            @order.SaleDate
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@order.Id" class="btn btn-primary">Редактировать</a>
                            <a asp-action="Delete" asp-route-id="@order.Id" class="btn btn-primary">Удалить</a>
                        </td>
                    </tr>  
                }
            </tbody>
        </table>
    </div>
</div>

@{
	var prevDisabled = !Model.Page.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.Page.HasNextPage ? "disabled" : "";
}

<ul class="pagination pagination-sm">
	<li class="page-item">
		<a asp-action="AdminIndex"
		asp-route-pageNumber="1"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
		class="btn btn-default page-link @prevDisabled">
		Первая
		</a>
	</li>
	<li class="page-item">
		<a asp-action="AdminIndex"
		asp-route-pageNumber="@(Model.Page.PageNumber - 1)"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
		class="btn btn-default page-link @prevDisabled">
		<
		</a>
	</li>
	<li class="page-item disabled"><a class="page-link">Cтраница @Model.Page.PageNumber</a></li>
	<li class="page-item">
		<a asp-action="AdminIndex"
		asp-route-pageNumber="@(Model.Page.PageNumber + 1)"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
		class="btn btn-default page-link @nextDisabled">
		>
		</a>
	</li>
	<li class="page-item">
		<a asp-action="AdminIndex"
		asp-route-pageNumber="@(Model.Page.TotalPages)"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
		class="btn btn-default page-link @nextDisabled">
		Последняя
		</a>
	</li>
</ul>
