@model CarDealershipManagement.WebUI.ViewModels.Employees.EmployeesViewModel
<div class="p-3">
    <div class="d-flex flex-row-reverse">
        <div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" value="@ViewData["CurrentFilter"]" type="text" name="SearchString" placeholder="Search">
                <button asp-controller="Employees" asp-action="Index" value="Search" class="btn bg-primary text-white" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="p-3">
        <div>
            <a asp-controller="Employees" asp-action="Create" class="btn btn-link">Добавить сотрудника</a>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["SurnameSortParam"]">Фамилия</a>
                    </th>    
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">Имя</a>
                    </th> 
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["MiddleNameSortParam"]">Отчество</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["PositionSortParam"]">Должность</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>
                            @employee.Surname
                        </td>
                        <td>
                            @employee.Name
                        </td>
                        <td>
                            @employee.MiddleName
                        </td>
                        <td>
                            @employee.PositionName
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary">Редактировать</a>
                            <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-primary">Удалить</a>
                        </td>
                    </tr>  
                }
            </tbody>
        </table>
    </div>
</div>

@{
	var prevDisabled = !Model.Page.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.Page.HasNextPage ? "disabled" : "";
}

<ul class="pagination pagination-sm">
	<li class="page-item">
		<a asp-action="Search"
		asp-route-pageNumber="1"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
		class="btn btn-default page-link @prevDisabled">
		Первая
		</a>
	</li>
	<li class="page-item">
		<a asp-action="Search"
		asp-route-pageNumber="@(Model.Page.PageNumber - 1)"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
		class="btn btn-default page-link @prevDisabled">
		<
		</a>
	</li>
	<li class="page-item disabled"><a class="page-link">Cтраница @Model.Page.PageNumber</a></li>
	<li class="page-item">
		<a asp-action="Search"
		asp-route-pageNumber="@(Model.Page.PageNumber + 1)"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
		class="btn btn-default page-link @nextDisabled">
		>
		</a>
	</li>
	<li class="page-item">
		<a asp-action="Search"
		asp-route-pageNumber="@(Model.Page.TotalPages)"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
		class="btn btn-default page-link @nextDisabled">
		Последняя
		</a>
	</li>
</ul>
